<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla :: head}">
</head>
  <body>
    <section th:replace="~{plantilla :: menu-contraste}"></section>
    <header th:replace="~{plantilla :: header}"></header>
    
    <main>
      <section class="container">
        <div class="row py-lg-5">
          <div class="col col">
            <h1 class="fw-light">Aqui podras Modificar los tópicos creados en Nuestro Foro</h1>
            <p class="lead text-body-secondary">
            </p>
          </div>
          <div class="container-fluid">
            <input class="form-control me-2"  readonly type="search" name="id" placeholder="Solo podras modificar los campos: Titulo, Mensaje, Curso."><br>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card shadow-sm">
                <form class="form-control" th:object="${Topico}" th:action="@{/actualizar-topicos}" method="post">
                    <label class="form-label text-bg-dark" for="id">ID :</label>
                    <input class="form-control"
                      type="text"
                      id="id"
                      name="id"
                      readonly th:field="${topicos.id}"
                      required/>
                    <label class="form-label text-bg-dark" for="titulo">Titulo :</label>
                    <input class="form-control"
                      type="text"
                      id="titulo"
                      name="titulo"
                      th:field="${topicos.titulo}"
                      required/>
            
                    <label class="form-label text-bg-dark" for="mensaje">Mensaje :</label>
                    <textarea class="form-control"
                      id="mensaje"
                      name="mensaje"
                      th:field="${topicos.mensaje}"
                      required
                    ></textarea>
            
                    <label class="form-label text-bg-dark" for="autor">Autor :</label>
                    <input class="form-control"
                      type="text"
                      id="autor"
                      name="autor"
                      readonly th:field="${topicos.autor}"
                      required/> 
            
                    <label class="form-label text-bg-dark" for="curso">Curso :</label>
                    <input class="form-control"
                      type="text"
                      id="curso"
                      name="curso"
                      th:field="${topicos.curso}"
                      required/> 
            
                    <label class="form-label text-bg-dark" for="estatus">Estado :</label>
                    <input class="form-control"
                      type="text"
                      id="estatus"
                      name="estatus"
                      readonly th:field="${topicos.estatus}"
                      required/> 
            
                    <label class="form-label text-bg-dark" for="fecha_creacion">Fecha :</label>
                    <input class="form-control"
                      type="date"
                      id="fecha_creacion"
                      name="fecha_creacion"
                      readonly th:field="${topicos.fecha_creacion}"/>
                      <br>
            
                    <button class="btn btn-outline-success my-2" type="submit">Modificar tópico </button>
                  </form>            
              </div>
            </div>
            <p class="text-center">
                <a href="/" class="btn btn-outline-primary my-2">Volver al Foro</a>
            </p>  
          </div>
        </div>
      </div>
    </main>
  <footer th:replace="~{plantilla :: footer}"></footer>
  </body>
</html>
