<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Eliminación</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
</head>
<body>
    <div class="container">
        <h1>Confirmación de Eliminación de Topico</h1><br>
        <p>¿Estás seguro de que deseas eliminar el tópico con Titulo: <span class="text-bg-dark" th:text="${topicos.titulo}"></span> ??</p>
        
        <!-- Botón para confirmar la eliminación -->
        <form th:action="@{/topicos/eliminar}" method="post">
            <input type="hidden" name="id" th:value="${topicos.id}">
            <button class="btn btn-danger" type="submit">Eliminar</button><br><br>
        </form>
        
        <!-- Enlace para cancelar y volver atrás -->
        <a class="btn btn-primary" th:href="@{/topicos}">Volver al Foro</a>
    </div>
    </div>
</body>
</html>
