<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla :: head}">
</head>
<body>
  <section th:replace="~{plantilla :: menu-contraste}"></section>
  <header th:replace="~{plantilla :: header}"></header>

    <main>
      <section class="container">
        <div class="row py-lg-5">
          <div class="col col">
            <h1 class="fw-light">Aqui podras insertar los topicos a Nuestro Foro</h1>
            <p class="lead text-body-secondary">
            </p>
          </div>
          <div class="container-fluid">
            <input class="form-control me-2"  readonly type="search" name="id" placeholder="Todos los campos son obligatorios."><br>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card shadow-sm">
                <form class="form-control" th:object="${Topico}" th:action="@{/crear-topicos}" method="post">
                    <label class="form-label text-bg-dark" for="titulo">Titulo :</label>
                    <input class="form-control"
                      type="text"
                      id="titulo"
                      name="titulo"
                      th:field="*{titulo}"
                      required/>
            
                    <label class="form-label text-bg-dark" for="mensaje">Mensaje :</label>
                    <textarea class="form-control"
                      id="mensaje"
                      name="mensaje"
                      th:field="*{mensaje}"
                      required
                    ></textarea>
            
                    <label class="form-label text-bg-dark" for="autor">Autor :</label>
                    <input class="form-control"
                      type="text"
                      id="autor"
                      name="autor"
                      th:field="*{autor}"
                      required/> 
            
                    <label class="form-label text-bg-dark" for="curso">Curso :</label>
                    <input class="form-control"
                      type="text"
                      id="curso"
                      name="curso"
                      th:field="*{curso}"
                      required/> 
            
                    <label class="form-label text-bg-dark" for="estatus">Estado :</label>
                    <input class="form-control"
                      type="text"
                      id="estatus"
                      name="estatus"
                      th:field="*{estatus}"
                      required/>

                    <label class="form-label text-bg-dark" for="estatus">Cargar Imagen :</label>
                    <input class="form-control"
                      type="file"
                      id="imagen"
                      name="imagen"
                      th:field="*{imagen}"
                      required/> 
            
                    <label class="form-label text-bg-dark" for="fecha_creacion">Fecha :</label>
                    <input class="form-control"
                      type="date"
                      id="fecha_creacion"
                      name="fecha_creacion"
                      th:field="*{fecha_creacion}"
                      required/><br>
            
                    <button class="btn btn-outline-success my-2" type="submit" id="btnEnviar">Enviar tópico </button>

                  </form>            
              </div>
              <!-- Ventana modal de confirmación -->
              <div class="modal fade" id="confirmacionModal" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmacionModalLabel">Confirmar Envío</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      ¿Estás seguro de que deseas enviar este tópico?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-primary" >Confirmar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center">
                <a href="/" class="btn btn-outline-primary my-2">Volver al Foro</a>
            </p>  
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer th:replace="~{plantilla :: footer}"></footer>
</html>
