<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina no encontrada</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
  />

  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body style="background-color: black;">

    <img src="/images/error_404.jpg" alt="Imagen de Error 404" srcset="" width="100%" height="100%"><br><br>

    <div class="container">
        <a href="/" class="btn btn-primary">Volver al Inicio</a>
    </div>
    
    
</body>
</html>