<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{plantilla :: head}"> </head>
  <body>
    <section th:replace="~{plantilla :: menu-contraste}"></section>
    <header th:replace="~{plantilla :: header}"></header>

    <main>
      <section class="py-5 text container">
        <div class="row">
          <div class="col-12">
            <h1 class="fw-light text-left">
              Autor del Tópico actual : <span th:text="${topicos.autor}"></span>
            </h1>
          </div>
          <div class="container-fluid">
            <input
              class="form-control me-2"
              readonly
              type="search"
              name="id"
              placeholder="Puedes reaccionar al contenido, pero recuerda las normas de respeto en las respuestas."
            /><br />
          </div>
        </div>
      </section>
      <div class="album py-2 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="50%"
                  height="100"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title></title>
                  <rect width="100%" height="100%" fill="#55595c" />
                  <text
                    x="50%"
                    y="50%"
                    fill="#eceeef"
                    dy=".3em"
                    th:text="${topicos.titulo}"
                  ></text>
                </svg>
                <div class="card-body">
                  <p class="card-text" th:text="${topicos.mensaje}"></p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <form th:action="@{/actualizar}" method="get">
                        <input
                          type="hidden"
                          name="id"
                          th:value="${topicos.id}"
                        />
                        <button
                          class="btn btn-sm btn-outline-success"
                          type="submit"
                        >
                          Modificar
                        </button>
                      </form>

                      &nbsp;&nbsp;

                      <a class="btn btn-sm btn-outline-danger" th:href="@{/eliminar-topico(id=${topicos.id})}">Eliminar</a>
                    </div>
                  </div>
                  <a class="icon-link" href="#" th:text="${topicos.autor}"></a
                  ><br />
                  <a class="icon-link" href="#" th:text="${topicos.curso}"></a>
                  <small class="text-body-primary"></small><br />
                  <span
                    >Creado :
                    <small
                      class="text-body-primary"
                      th:text="${topicos.fecha_creacion}"
                    ></small></span
                  ><br/>
                </div>                                                                         <!-- reaccionar a respuestas -->
                  <a class="btn btn-sm btn-outline-warning" th:href="@{/reaccionar/{id}(id=${topicos.id})}">Responder</a>    
              </div>
              <!-- Respuesta del Topico -->
              <div class="py-4" th:if="${respuestaTopico != null and not #lists.isEmpty(respuestaTopico)}">
                <h1 class="fw-light text-left">Respuestas del Tópico actual :</h1>
                <div class="card shadow" th:each="respuesta : ${respuestaTopico}">
                  <div class="container">               
                    <span >Autor : <a class="icon-link" href="#" th:text="${respuesta.autor}"></a></span><br>
                    <span>Respuesta : <small class="text-body-primary" th:text="${respuesta.mensaje}"></small></span><br>
                    <span>Desde : <small class="text-body-primary" th:text="${respuesta.fecha_creacion}"></small></span>               
                  </div>                  
                </div>
              </div><hr>  
              <!-- fin de mostrar la respuesta del topico -->

              <p class="text-center">
                <a href="/" class="btn btn-outline-primary my-2"
                  >Volver al Foro</a>
              </p>
            </div>
          </div>

          <!-- Probando el textarea -->
        </div>
      </div>
    </main>
    <footer th:replace="~{plantilla :: footer}"></footer>
  </body>
</html>
