<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topicos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <h1>Interactue con los demas usuarios</h1>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form class="d-flex" role="search" th:action="@{/topicos/mostrarTopico}" method="get">
            <input class="form-control me-2" type="search" name="id" placeholder="Buscar Topico" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </nav>

    <table class="table">
        <thead>
            <tr>
                <!-- <th>ID</th> -->
                <th>Titulo</th>
                <th>Mensaje</th>
                <th>Autor</th>
                <th>Curso</th>
                <th>Estado</th>
                <th></th>
                <th></th>
                <th>Fecha creacion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="topicos : ${topicos}">
                <!-- <td th:text="${topicos.id}"></td> -->
                <td th:text="${topicos.titulo}"></td>
                <td th:text="${topicos.mensaje}"></td>
                <td th:text="${topicos.autor}"></td>
                <td th:text="${topicos.curso}"></td>
                <td th:text="${topicos.estatus}"></td>
                <td>
                    <form th:action="@{/topicos/actualizar}" method="get">
                        <input type="hidden" name="id" th:value="${topicos.id}">
                        <button class="btn btn-secondary" type="submit">Modificar</button>
                    </form>
                </td>
                <td>
                    <!-- <form th:action="@{/topicos/eliminar}" method="post">
                        <input type="hidden" name="id" th:value="${topicos.id}">
                        <button class="btn btn-danger" type="button" data-toggle="modal" th:data-target="'#confirmDeleteModal-' + ${topicos.id}">Eliminar</button>
                    </form> -->
                    <a class="btn btn-danger" th:href="@{/topicos/confirmar-eliminacion(id=${topicos.id})}">Eliminar</a>
                </td>
                <td th:text="${topicos.fecha_creacion}"></td>
            </tr>
        </tbody>
    </table>

    
    <hr><br>

    <a href="topicos/agregar"><button class="btn btn-success">Crea un nuevo topico</button></a>
    <a href="/"><button class="btn btn-primary">Volver al Home</button></a>


</div>
    
</body>
</html>